<% include partials/head.ejs %>
<body>
  <% include partials/nav.ejs %>
  <section class="main-container text-center home">
    <div class="container">
      <h1 class="title notFound">404</h1>
      <hr/>
      <h5>Page not found!</h5>
    </div>
  </section>
  <% include partials/scripts.ejs %>
</body>
</html>
