<% include partials/head.ejs %>
<body>
  <% include partials/nav.ejs %>
  <section class="main-container text-center home">
    <div class="container">
      <h1 class="title lead">CRUD - Node.Js - Express & MongoDB </h1>
      <hr/>
      <small>Made by <a href="https://github.com/germancutraro" target="_blank">germancutraro</a></small>
    </div>
  </section>
  <% include partials/scripts.ejs %>
</body>
</html>
